<?xml version="1.0"?>
<config>
	<modules>
		<Ccc_User>
			<version>0.0.3</version>
		</Ccc_User>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ccc_user>Ccc_User_Adminhtml</ccc_user>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<blocks>
			<user>
				<class>Ccc_User_Block</class>
			</user>
		</blocks>
		<models>
			<user>
				<class>Ccc_User_Model</class>
				<resourceModel>user_resource</resourceModel>
			</user>
			<user_resource>
				<class>Ccc_User_Model_Resource</class>
				<entities>
					<user>
						<table>user</table>
					</user>
					<user_decimal>
						<table>user_decimal</table>
					</user_decimal>
					<user_datetime>
						<table>user_datetime</table>
					</user_datetime>
					<user_int>
						<table>user_int</table>
					</user_int>
					<user_varchar>
						<table>user_varchar</table>
					</user_varchar>
					<user_text>
						<table>user_text</table>
					</user_text>
					<user_char>
						<table>user_char</table>
					</user_char>
					<eav_attribute>
						<table>user_eav_attribute</table>
					</eav_attribute>
				</entities>
			</user_resource>
		</models>
		<helpers>
			<user>
				<class>Ccc_User_Helper</class>
			</user>
		</helpers>
		<resources>
			<user_setup>
				<setup>
					<module>Ccc_User</module>
					<class>Ccc_User_Model_Resource_Setup</class>
				</setup>
			</user_setup>
		</resources>

	</global>
	<adminhtml>
		<layout>
			<updates>
				<user>
					<file>user.xml</file>
				</user>
			</updates>
		</layout>
	</adminhtml>
</config>