<?xml version="1.0"?>
 <config>
 <modules>
 <Crud_Pro>
 <version>0.4.0</version>
 </Crud_Pro>
 </modules>
 <frontend>
 <routers>
 <pro>
 <use>standard</use>
 <args>
 <module>Crud_Pro</module>
 <frontName>pro</frontName>
 </args>
 </pro>
 </routers>
 <layout>
 <updates>
 <pro>
 <file>pro.xml</file>
 </pro>
 </updates>
 </layout>
 </frontend>
 <admin>
 <routers>
 <!-- Includes our controller, so when we add the adminhtml menu item below, it is found! -->
 <adminhtml>
 <args>
 <modules>
 <pro before="Mage_Adminhtml">Crud_Pro_Adminhtml</pro>
 </modules>
 </args>
 </adminhtml>
 </routers>
 </admin>
 <adminhtml>
 <menu>
 <pro module="pro">
 <title>Pro</title>
 <sort_order>71</sort_order>
 <children>
 <items module="pro">
 <title>Dispaly Student Data</title>
 <sort_order>0</sort_order>
 <action>adminhtml/pro</action>
 </items>
 </children>
 </pro>
 </menu>
 <acl>
 <resources>
 <all>
 <title>Allow Everything</title>
 </all>
 <admin>
 <children>
 <pro>
 <title>Pro Module</title>
 <sort_order>200</sort_order>
 </pro>
 </children>
 </admin>
 </resources>
 </acl>
 <layout>
 <updates>
 <pro>
 <file>pro.xml</file>
 </pro>
 </updates>
 </layout>
 </adminhtml>
 <global>
 <models>
 <pro>
 <class>Crud_Pro_Model</class>
 <resourceModel>pro_resource</resourceModel>
 </pro>
 <pro_resource>
 <class>Crud_Pro_Model_Resource</class>
 <entities>
 <pro>
 <table>pro</table>
 </pro>
 </entities>
 </pro_resource>
 </models>
 <resources>
 <pro_setup>
 <setup>
 <module>Crud_Pro</module>
 </setup>
 <connection>
 <use>core_setup</use>
 </connection>
 </pro_setup>
 <pro_write>
 <connection>
 <use>core_write</use>
 </connection>
 </pro_write>
 <pro_read>
 <connection>
 <use>core_read</use>
 </connection>
 </pro_read>
 </resources>
 <blocks>
 <pro>
 <class>Crud_Pro_Block</class>
 </pro>
 </blocks>
 <helpers>
 <pro>
 <class>Crud_Pro_Helper</class>
 </pro>
 </helpers>
 </global>
 </config>