<?xml version="1.0" encoding="UTF-8"?>
<config>
   <modules>
      <Ccc_Np>
         <version>0.4.0</version>
      </Ccc_Np>
   </modules>
   <frontend>
      <routers>
         <np>
            <use>standard</use>
            <args>
               <module>Ccc_Np</module>
               <frontName>np</frontName>
            </args>
         </np>
      </routers>
      <layout>
         <updates>
            <np>
               <file>np.xml</file>
            </np>
         </updates>
      </layout>
   </frontend>
   <admin>
      <routers>
         <!-- Includes our controller, so when we add the adminhtml menu item below, it is found! -->
         <adminhtml>
            <args>
               <modules>
                  <np before="Mage_Adminhtml">Ccc_Np_Adminhtml</np>
               </modules>
            </args>
         </adminhtml>
      </routers>
   </admin>
   <adminhtml>
      <menu>
         <np module="np">
            <title>Np</title>
            <sort_order>71</sort_order>
            <children>
               <items module="np">
                  <title>Dispaly Student Data</title>
                  <sort_order>0</sort_order>
                  <action>adminhtml/np</action>
               </items>
            </children>
         </np>
      </menu>
      <acl>
         <resources>
            <all>
               <title>Allow Everything</title>
            </all>
            <admin>
               <children>
                  <np>
                     <title>Np Module</title>
                     <sort_order>200</sort_order>
                  </np>
               </children>
            </admin>
         </resources>
      </acl>
      <layout>
         <updates>
            <np>
               <file>np.xml</file>
            </np>
         </updates>
      </layout>
   </adminhtml>
   <global>
      <models>
         <np>
            <class>Ccc_Np_Model</class>
            <resourceModel>np_resource</resourceModel>
         </np>
         <np_resource>
            <class>Ccc_Np_Model_Resource</class>
            <entities>
               <np>
                  <table>np</table>
               </np>
            </entities>
         </np_resource>
      </models>
      <resources>
         <np_setup>
            <setup>
               <module>Ccc_Np</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </np_setup>
         <np_write>
            <connection>
               <use>core_write</use>
            </connection>
         </np_write>
         <np_read>
            <connection>
               <use>core_read</use>
            </connection>
         </np_read>
      </resources>
      <blocks>
         <np>
            <class>Ccc_Np_Block</class>
         </np>
      </blocks>
      <helpers>
         <np>
            <class>Ccc_np_Helper</class>
         </np>
      </helpers>
   </global>
</config>
